$font-light: #fff;
$fonts-grey: #a2a2a2;
$fonts-dark: #000;

$background-light: #fff;
$background-grey-light: #fafafa;

$border-grey: #dbdbdb;
$border-dark: #000;

$action: #0095f6;
$danger: #ed4956;

$input-form: #f9f9f9;
$border: #dbdbdb;